<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>basicJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
  	<servlet-name>basic</servlet-name>
  	<servlet-class>kr.co.koo.ServletBasic</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>basic</servlet-name>
  	<url-pattern>/peach</url-pattern>
  </servlet-mapping>
  <!-- 응답 코드를 이용한 처리 -->
  <!-- 
  <error-page>
  	<error-code>404</error-code>
  	<location>/errorpage/error_view.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/errorpage/error_view.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.NumberFormatException</exception-type>
  	<location>/errorpage/error_view1.jsp</location>  
  </error-page>
   -->
  
</web-app>